.footer {
  background-color: $gray4;
  margin-top: $spacing*3;
  padding-bottom: $spacing;
  padding-top: $spacing*1.5;
  text-align: center;

  .disclaimer {
    color: $gray2;
    font-size: $font-size--small;
  }

  .colophon {
    margin-top: $spacing/2;

    p {
      font-size: $font-size--small;
      padding: 0;
    }
  }

}
