.hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: $spacing*2;

}


// .column {
//   background-color: pink;
// }
//
// .column--light {
//   background-color: red;
// }

.hero--frontpage {
  background-image: url('../img/hero-frontpage.jpg');
}

.hero--study {
  background-image: url('../img/hero-study.jpg');
}

.hero--housing {
  background-image: url('../img/hero-housing.jpg');
}

.hero--paperwork {
  background-image: url('../img/hero-paperwork.jpg');
}
