.hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: $spacing*2;
  position: relative;
  text-shadow: 2px 1px 2px $gray1;

  .main-nav {
    text-shadow: none;
  }
}

.hero--frontpage {
  background-image: url('../img/hero-frontpage.jpg');
}

.hero--study {
  background-image: url('../img/hero-study.jpg');
}

.hero--housing {
  background-image: url('../img/hero-housing.jpg');
}

.hero--paperwork {
  background-image: url('../img/hero-paperwork.jpg');
}
