.intro {
  text-shadow: 1px 1px $gray1;
}

.updated {
  bottom: $spacing;
  color: $gray4;
  font-size: $font-size--small;
  font-style: italic;
  padding: 0;
  position: absolute;
  right: $spacing;
  text-align: right;
}
