.logo {

  margin-top: $spacing/2;
  text-align: center;

  a {
    color: $primary-dark;
    font-family: $heading-font;
    // font-size: $font-size--small;
    // font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media ($media-medium) {
  .logo {
    text-align: left;
  }
}
