.suggestion {
  background-color: $gray2;
  border: 1px solid $gray3;
  border-radius: 0.35rem;
  color: $gray5;
  cursor: pointer;
  margin-top: $spacing*2;
  padding: $spacing $spacing;
  transition: color 0.35s ease-in-out;

  img {
    display: inline-block;
    height: 100%;
    opacity: 0.75;
    transition: opacity 0.35s ease-in-out;
  }

  &:hover {
    color: $gray6;

    img {
      opacity: 1;
    }
  }
}

.suggestion__image {
  // background-color: gold;
}

.suggestion__text {
  // font-size: $font-size--large;
  // font-weight: 300;
  // background: pink;

  p {
    padding-bottom: 0;
  }
}

.suggestion__title {
  padding-top: 0;
}

.suggestion-popup {
  background: $gray5;
  max-width: $wrapper-small;
  margin: $spacing auto;
  padding: $spacing;
  position: relative;
  width: auto;
}


@media ($media-large) {

  .suggestion {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: $spacing $spacing*2;
  }

  .suggestion__image {
    text-align: center;
    width: percentage(1/4);

    img {
      width: 100%;
    }
  }

  .suggestion__text {
    padding-right: $spacing*2;
    text-align: left;
    width: percentage(3/4);
  }

}
