.suggestion {
  background-color: $gray2;
  border: 1px solid $gray3;
  border-radius: 0.35rem;
  color: $gray5;
  margin-top: $spacing*2;
  padding: $spacing $spacing;
  transition: all 0.35s ease-in-out;

  img {
    display: inline-block;
    margin-top: $spacing;
    opacity: 0.75;
    width: 55%;
    transition: all 0.35s ease-in-out;
  }

  .btn,
  input[type="submit"] {
    background-color: $gray2;
    border: 2px solid $gray4;
    border-radius: 0.35rem;
    display: inline-block;
    color: $gray6;
    cursor: pointer;
    font-size: $font-size--small;
    font-weight: 400;
    letter-spacing: 2px;
    padding: $spacing/4 $spacing/2;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: $gray6;
      color: $gray1;
    }
  }

}

.suggestion__image {
  text-align: center;
}

.suggestion__text {

  p {
    padding-bottom: 0;
  }
}

.suggestion__title {
  padding-top: 0;
}

.suggestion__activate {
  margin-top: $spacing/2;
  text-align: center;
  width: 100%;
}


.message {

  label {
    color: $gray5;
    font-size: $font-size--small;
    margin-bottom: $spacing/8;
  }

  input {
    border: 2px solid $gray4;
    border-radius: 0.25rem;
    padding: $spacing/8;
    width: 100%;
  }

  textarea {
    border: 2px solid $gray4;
    border-radius: 0.25rem;
    line-height: 1.35;
    padding: $spacing/4;
    width: 100%;
  }

  .form-item {
    margin-top: $spacing/2;
  }
}

.message__button {
  margin-top: $spacing;
}

.form-success {
  display: none; // hide by default, show via jQuery
  text-align: center;

  p {
    font-size: $font-size--large;
    padding: 0;
  }

  .headline {
    font-weight: 300;
  }
}

@media ($media-medium) {

  .suggestion {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: $spacing $spacing*2;
  }

  .suggestion__image {
    text-align: center;
    width: percentage(1/4);

    img {
      margin-top: 0;
      width: 100%;
    }
  }

  .suggestion__text {
    padding-right: $spacing*2;
    text-align: left;
    width: percentage(3/4);
  }

  .suggestion__slide {
    margin: 0 auto;
    max-width: 560px;
  }

  .message {
    display: flex;
    flex-wrap: wrap;

    .message__name,
    .message__email {
      width: percentage(1/2);
    }

    .message__name {
      padding-right: $spacing/4;
    }

    .message__text {
      width: 100%;
    }

    .message__button {
      text-align: center;
      width: 100%;

      input {
        display: inline-block;
        width: auto;
      }
    }
  }

}
