.toc {
  border-radius: 0.25rem;
  margin-left: 0;
  margin-bottom: $spacing/2;
  margin-top: $spacing/4;
  list-style-type: none;
  padding: 0;

  &:before {
    content: 'On this page:';
    display: block;
    font-weight: 300;
    margin-bottom: $spacing/2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  li {
    margin-bottom: $spacing/2;
  }

  a {
    color: $gray5;
    border-bottom: 2px solid rgba($primary, 0.75);
    font-size: $font-size--large;
    font-weight: 200;
    padding-bottom: $spacing/12;
    transition: all 0.25s ease-in-out;

    &:hover {
      border-color: $primary;
      color: $gray6;
    }
  }
}

@media ($media-large) {

  .toc {
    li {
      display: inline-block;
      margin-right: $spacing;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
