.toc {
  border-radius: 0.25rem;
  margin-left: 0;
  margin-bottom: $spacing/2;
  margin-top: $spacing/4;
  list-style-type: none;
  padding: 0;

  &:before {
    content: 'On this page:';
    display: block;
    font-weight: 300;
    margin-bottom: $spacing/2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  li {
    display: inline-block;
    margin-right: $spacing;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: inherit;
    border-bottom: 2px solid $primary;
    font-size: $font-size--large;
    padding-bottom: $spacing/12;
  }
}
