.weather {
  margin-top: $spacing;
}

.weather-links {
  a {
    color: inherit;
  }
}


.weather__forecast {
  display: flex;
  flex-wrap: wrap;
  margin-top: $spacing/2;

  .day {
    margin-top: $spacing*2;
    text-align: center;
    width: percentage(1/5);

    span {
      display: block;
    }
  }

  .day__day {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: $spacing/2;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
  }

  .day__date {
    font-size: 1.1rem;
    margin-top: $spacing/8;
    line-height: 1;
  }

  .day__high {
    color: $hot;
    font-weight: 400;
  }

  .day__low {
    color: $cold;
    font-weight: 400;
  }

  .day__icon i {
    font-size: 3rem;
    margin: $spacing/2 auto;
    opacity: 0.75;
  }

}


@media ($media-large) {

  .weather__forecast {

    margin-top: $spacing/2;

    .day {
      margin-top: 0;
      width: percentage(1/10);
    }
  }


}
