<!doctype html>
<html class="no-js">
<head>

	<meta charset="utf-8">

	<!-- responsive meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

	<!-- meta information -->
	<title>{{ housing.title}} – {{ site.title }}</title>
	<link rel="author" href="{{ site.author }}" />
	<meta name="description" content="{{ housing.description }}">
  <meta name="keywords" content="{{ housing.keywords }}" />

	{% include "_shared/head.html" %}


</head>

<body>

  {% include '_shared/top-anchor.html' %}

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="hero hero--housing">

		<header class="header clearfix" role="banner">
			<div class="wrapper">
				{% import '_macros/main-nav.html' as nav %}
				{{nav.active('housing')}}
			</div>
		</header>

		<div class="wrapper">
			<article class="intro">
				{% include "_text/housing/intro.html" %}
			</article>
      <ul class="toc"></ul>
      <p class="updated">Page last updated on {{ housing.date }}</p>
		</div>

	</div>

  <main class="main" role="main">
    <div class="wrapper-small">

      <article class="article">
        {% include "_text/housing/rent-a-place.html" %}
      </article>

      <article class="article">
        {% include "_text/housing/student-housing.html" %}
      </article>

      <article class="article">
        {% include "_text/housing/buy-a-place.html" %}
      </article>

      <article class="article">
        {% include "_text/housing/short-term-accomodation.html" %}
      </article>

    </div>
  </main>

  {% include "_shared/back-to-top.html" %}

	{% include "_shared/footer.html" %}

	<!-- javascript global -->
	{% include "_shared/js-global.html" %}


</body>
</html>
