.disabled{
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.smooth{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-none{
  float: none;
}

.f-left{
  float: left;
}

.f-right{
  float: right;
}

.clearfix{
  clear: both;
  overflow: hidden;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.ta-left{
  text-align: left;
}

.ta-center{
  text-align: center;
}

.ta-right{
  text-align: right;
}


.fs-small{
  font-size: $font-size--small;
}

.fs-base{
  font-size: $font-size;
}

.fs-large{
  font-size: $font-size--large;
}

.fw-light{
  font-weight: 300;
}

.fw-normal{
  font-weight: 400;
}

.fw-semibold{
  font-weight: 600;
}

.fw-bold{
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.margin-top {
  margin-top: $spacing;
}

.margin-bottom {
  margin-bottom: $spacing;
}

.margin-bottom--double {
  margin-bottom: $spacing*2;
}
